<%- include('../public/partials/header.ejs') %>
<body>
    
   <div class="card">
        <div class="card-header">
            <h1>API de Teste</h1>
        </div>
        <div class="card-body">
            <h5 class="card-title">Bem-vindo à API de Teste</h5>
            <p class="card-text">Esta é uma API de exemplo.</p>
            <a href="/api" class="btn btn-primary">Ver API</a>
        </div>
   </div>

</body>

<%- include('../public/partials/footer.ejs') %>